<% layout('layout/root')%>

<h1>Profile Edit Page - TODO</h1>

<%= user %> <br>

TODO TODO TODO

<form action="/profile/<%= user.username %>" method="POST">

    <div class="field">
        <label class="label" for="email">Email: </label>
        <input class="input" type="text" name="email" id="email"
            value="<%= user.email %>">
    </div>

    <div class="field">
        <label class="label" for="age">Age: </label>
        <input class="input" type="number" name="age" id="age"
            value="<%= user.age %>">
    </div>

    <div class="field">
        <label class="label">Gender: </label>
        <div class="control">
            <label for="male" class="radio">
                <input type="radio" name="male" id="male">
                Male
            </label>
            <label for="male" class="radio">
                <input type="radio" name="male" id="male">
                Female
            </label>
        </div>
    </div>
    
    <div class="field">
        <label class="label" for="status">Status: </label>
        <input class="input" type="text" name="status" id="status"
            value="<%= user.status %>">
    </div>

    <div class="field">
        <label for="description" class="label">Description: </label>
        <textarea class="textarea" name="description" id="description"
        cols="30" rows="10" placeholder="Enter your blog description here..."
        ><%= user.description %></textarea>
    </div>
    
    <button type="submit">Submit</button>
</form>

<a href="/">Back to main menu</a><br>
