<% layout('layout/root')%>

<h1>Profile View Page - TODO</h1>

<%= curr_user %> <br>

Username: <%= curr_user.username %> <br>
Email: <%= curr_user.email %> <br>
Age: <%= curr_user.age %> <br>
Gender: <%= curr_user.gender %> <br>
Status: <%= curr_user.status %> <br>
Description: <%= curr_user.description %> <br>

TODO - hide this if not user
<a href="/profile/<%= curr_user.username %>/edit">
    Edit
</a> <br>

<a href="/">Back to main menu</a><br>
