<% layout('layout/root')%>

<h1>Profile View Page - TODO</h1>

<%= user %> <br>

Username: <%= user.username %> <br>
Email: <%= user.email %> <br>
Age: <%= user.age %> <br>
Gender: <%= user.gender %> <br>
Status: <%= user.status %> <br>
Description: <%= user.description %> <br>

<a href="/profile/<%= user.username %>/edit">
    Edit
</a> <br>

<a href="/">Back to main menu</a><br>
