<% layout('layout/root')%>

<h1>View Page - TODO</h1>
<%= blog.id %> <br>
<%= blog.title %> <br>
<%= blog.content %> <br>

<a href="/blog">Back to blog list</a>
<a href="/blog/<%= blog.id %>/edit">Edit</a>

<form action="/blog/<%= blog._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
